<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Math Facts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul>
            <li><a href="#contactform" class="contactlink">Contact</a></li>
            <li><a href="#"><img id="logohome" src="https://vectr.com/thomasisaacpeterecclesgmailcom/fnVZV3K0a.png?width=48&height=48&select=fnVZV3K0apage0"></a></li>
            <li><button class="signup-btn" onclick="document.getElementById('signupform').style.display='block'">Sign Up</button></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.js(@conn) %>

    <!--	Footer		-->
    <footer>
      <p id="copyright">&copy SayYeahYeah</p>
      <p id="hometown">Seattle, WA</p>
      <p id="creation">2018</p>
    </footer>
  </body>
</html>
