<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thomas Eccles & Fritz Jay">

    <title>Math Facts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar" id="navbar-fixed" role="navigation">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
          <img src="https://vectr.com/thomasisaacpeterecclesgmailcom/fnVZV3K0a.svg?width=48&height=48&select=fnVZV3K0apage0" alt="Logo"> 
      </a>

      <!-- Menu Items Medium Screen and Up -->
      <div class="logout">
          <a href="mathfacts.html" class="logout"><strong>Logout</strong></a>
      </div>

      <div class="user">
          <a class="user" href="#"><span class="username"><i class="material-icons md-36" id="accountCircle">account_circle</i><strong>Username</strong></span></a>
      </div>



      <!-- Menu Items Small Screens -->
      <!-- Toggle Button/Javascript Link -->
      <a href="javascript:void(0);" class="navbar-toggler" onclick="myFunction()"><i class="material-icons md-36">menu</i></a>

      <!-- Collapse Content -->
      <div class="navbar-collapse" id="collapsingNavbar">
          <a class="sm-nav-item" href="#"><span class="sm-username"><i class="material-icons md-36">account_circle</i><strong>Username</strong></span></a>
          <a class="sm-nav-item sm-logout" href="#"><strong>Logout</strong></a>
      </div>           
  </nav>

  <div class="main-wrapper">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <%= Drab.Client.js(@conn) %>

  <!--	Footer		-->
  <footer>
    <p id="copyright">&copy SayYeahYeah</p>
    <p id="hometown">Seattle, WA</p>
    <p id="creation">2018</p>
  </footer>
</body>
</html>
