<div class="card" onclick="document.getElementById('<%= @number %>-card').style.display='block'">
    <h1><%= @number %></h1>
</div>

<div id="<%= @number %>-card" class="modal">
    <form class="modal-content animate" action="#">
    
        <span onclick="document.getElementById('<%= @number %>-card').style.display='none'" class="close" title="Close Modal">&times;</span>

        <div class="modalcontent">
            <h1><%= @number %></h1>
            <input type="checkbox" name="plus" id="addition" value="plussign"/><label>+</label>
            <input type="checkbox" name="minus" id="subtraction" value="minussign"/><label>-</label>
            <input type="checkbox" name="times" id="multiplication" value="timessign"/><label>x</label>
            <input type="checkbox" name="divide" id="division" value="dividesign"/><label>÷</label>                    
        </div>

        <div class="modal-buttons">
            <button type="button" onclick="home new test">Home</button>
            <button type="button" onclick="school new test">School</button>
        </div>

    </form>
</div>