<div class="wrapper-card-body">
    <!--    Body Cards  -->
    <div class="card-wrapper">

        <%= for number <- 0..12 do %>
            <%= render FactFluencyWeb.TestView, "number-choice-card.html", number: number %>
        <% end %>

        <!-- The Modal -->
        <div id="test-choice-modal" class="modal-overlay">
            <!-- Modal Content -->
            <div class="modal test-choice-modal animate">
                <span onclick="document.getElementById('test-choice-modal').style.display='none'" class="close-modal-button" title="Close Modal">&times;</span>
                
                <div class="modal-number-header">
                    <h1 id="selected-number">0</h1>
                </div> 

                <!-- Dividing Line -->
                <div class="divide-line" id="top-line"></div>

                <!-- Paragraph Text --> 
                <p class="modal-test-text"><strong>Choose an operator to practice or test.</strong></p>

                <!-- Dividing Line -->
                <div class="divide-line" id="bottom-line"></div>

                <!-- Modal Buttons -->
                <button type="button" class="practice" id="create-test" onClick="submitForm()"><strong>Practice</strong></button>
                <button type="button" class="real-deal" id="create-test" onClick="submitForm()"><strong><span class="long-title">Take </span>Test</strong></button>

                <%= form_for @conn, test_path(@conn, :create), [method: :post, as: :test, id: "new-test-form", class: "radio-btn-wrapper"], fn f -> %>
                    <label class="add radio-btn radio-click">
                        <%= radio_button f, :operator, "+", checked: "checked" %><span>&plus;</span>
                    </label>

                    <label class="minus radio-btn radio-click">
                        <%= radio_button f, :operator, "-" %><span>&minus;</span>
                    </label>

                    <label class="times radio-btn radio-click">
                        <%= radio_button f, :operator, "*" %><span>&times;</span>
                    </label>

                    <label class="divide radio-btn radio-click">
                        <%= radio_button f, :operator, "/" %><span>&divide;</span>
                    </label>

                    <%= hidden_input f, :test_type, class: "form-control", value: "elementary_arithmetic" %>
                    <%= hidden_input f, :number, class: "form-control" %>
                    <%= hidden_input f, :student_id, [class: "form-control", value: 1] %>
                <% end %>
            </div>
        </div>
    </div>

    <script>
    var submitForm = function()
    {
        document.getElementById('new-test-form').submit();
    }
    </script>
</div>