    <!-- School or Home modal -->

    <%= for number <- 0..12 do %>
        <%= render FactFluencyWeb.TestView, "card.html", number: number %>
    <% end %>

    <!--    Side Illustrations  -->
    <div class="characterimg">
        <img src="#" alt="Right Illustration">
        <img src="#" alt="Left Illustration"> 
    </div>

</body>
</html>