<h2>Show Class</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @class.name %>
  </li>

  <li>
    <strong>Grade:</strong>
    <%= @class.grade %>
  </li>

</ul>

<span><%= link "Edit", to: class_path(@conn, :edit, @class) %></span>
<span><%= link "Back", to: class_path(@conn, :index) %></span>
