<h2>Show Student</h2>

<ul>

  <li>
    <strong>Last initial:</strong>
    <%= @student.last_initial %>
  </li>

  <li>
    <strong>Duplicate:</strong>
    <%= @student.duplicate_id %>
  </li>

  <li>
    <strong>Timestamps:</strong>
    <%= @student.timestamps %>
  </li>

</ul>

<span><%= link "Edit", to: student_path(@conn, :edit, @student) %></span>
<span><%= link "Back", to: student_path(@conn, :index) %></span>
